.bar-chart-wrapper {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: center;
}


.add-label {
    position: relative;
    grid-row: 1;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    padding-left: 1vw;
}

.addBarDataDiv {
    display: grid;
    grid-template-rows: 4;
    row-gap: .4em;
    grid-template-columns: 1;
    margin-right: 15%;
}

.bar-label-input-containter {
    grid-row: 2;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.bar-number-input-containter{
    grid-row: 3;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.addBarDataBtn {
    grid-row: 4;
    border: none;
}

.cut {
    background-color: white;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}


.input:focus ~ .cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
    background-color: #15172b;
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-29px) translateX(15px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: white;
}

.add-submit-btn{
    border-radius: 10px;
    border: 1px solid #3c67e3;
    height: 2rem;
    margin-top: 15px;
    background-color: #212534;
    color: white;
}

.add-submit-btn:hover{
    box-shadow: 4px 0 10px #3c67e3;
}

.removeBarDataDiv{
    display: grid;
    grid-template-rows: 3;
    row-gap: .4em;
    grid-template-columns: 1;
    padding-bottom: 12vh;
}

.remove-label{
    position: relative;
    grid-row: 1;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    padding-left: 1vw;
}

#selectRemovePoints{
    grid-row: 2;
    border-radius: 10px;
    height: 3rem;
    background-color: #303245;
    color: white;
    text-align: center;
    margin-top: 3%;
}

.remove-Bar-Data-Button{
    grid-row: 3;
    border-radius: 10px;
    border: 1px solid #3c67e3;
    height: 2rem;
    margin-top: 15px;
    background-color: #212534;
    color: white;
}

.remove-Bar-Data-Button:hover{
    box-shadow: 4px 0 10px #3c67e3;
}

.line-chart-wrapper{
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: center;
}

.add-linedata-container{
    display: grid;
    grid-template-rows: 4;
    row-gap: .4em;
    grid-template-columns: 1;
    margin-right: 15%;
}

.line-x-input-containter {
    grid-row: 2;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.line-y-input-containter{
    grid-row: 3;
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.remove-lineData-container{
    display: grid;
    grid-template-rows: 3;
    row-gap: .4em;
    grid-template-columns: 1;
    padding-bottom: 12vh;
    height: 120px;
}

.remove-line-Data-Button{
    grid-row: 3;
    border-radius: 10px;
    border: 1px solid #3c67e3;
    height: 2rem;
    margin-top: 15px;
    background-color: #212534;
    color: white;
}

.remove-line-Data-Button:hover{
    box-shadow: 4px 0 10px #3c67e3;
}
