<div class="container">
    <div class="card" id="bar">
        <h2>Bar Chart</h2>
        <div class="canvas-wrapper">
            <canvasjs-chart [options]="barChartOptions" [styles]="{width: '80%%', height:'180px' }"></canvasjs-chart>    
        </div>  
        <button class="bar-btn" (click)="barClick()" routerLink="/bar-chart">Choose Bar Chart</button>
    </div>
    <div class="card" id="line">
        <h2>Line Chart</h2>
        <div class="canvas-wrapper">
            <canvasjs-chart [options]="lineChartOptions" [styles]="{width: '80%', height:'180px'}"></canvasjs-chart>  
        </div>
        <button class="line-btn" (click)="lineClick()" routerLink="/line-chart">Choose Line Chart</button>
    </div>
</div>
